* {
  box-sizing: border-box;
  border: 0.5px solid transparent
}

 html {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
 }

#app {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
 }

 body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
 }

.container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* LAUNCH PAGE  */

.launch-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #4F0521;
} 

.launch-page {
  position: relative;
  background-color: #4F0521;
  width: 100%;
}

.Logo {
position: absolute;
display: block;
margin-top: 5%;
margin-left: 5%;
width: 30%;
background-size: contain;
z-index: 5000;
}

.about {
  height: 560px;
}

#myCarousel {
  width: fixed;
  height: auto;
  background: #4F0521;
  margin-top: 20%;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0;
}
.carousel-item active {
  z-index: -1;
}

.first-slide {
  width: fixed;
  height: auto;
  z-index: 10;
}

#slide1 {
  margin:0;
  padding: 0;
}

#slide1 h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-align:center;
  font-weight:bold;
  margin:0;
  padding: 0;
}

#slide1 p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align:center;
  margin: 0;
  padding: 2% 0 2% 0;
}

#slide2 {
  margin:0;
  padding: 0;
}

#slide2 h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-align:left;
  font-weight:bold;
  margin:0;
  padding: 2% 0 2% 0;
}

#slide2 p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align:left;
  margin: 0;
  padding: 0;
}

#slide3 {
  margin:0;
  padding: 0;
}

#slide3 h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-align:right;
  font-weight:bold;
  margin:0;
  padding: 2% 0 2% 0;
}

#slide3 p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align:right;
  margin: 0;
  padding: 0;
}

.launchbuttons {
  position: absolute;
  display: inline-block;
  background-color: #4F0521;
  width: 100%;
  height: 50px;
  margin: 5 10 0 0;
  padding: 0;
}

button {
  background-color: #C1666B;
  color: #E4DFDA;
  text-align: center;
}

#launchShareButt{
  position: absolute;
  display: inline-block;
  width: 30%;
  height: 100%;
  margin-left: 60%;
  background-color: #C1666B;
  color: #E4DFDA;
  padding: 0;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  border-radius: 8px;
  padding: 4px;

}

#launchExploreButt {
  position: absolute;
  display: inline-block;
  text-align: center;
  padding: 0;
  width: 30%;
  margin-left: 9%;
  height: 100%;
  background-color: #C1666B;
  color: #E4DFDA;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 2px 3px rgb(56, 40, 41);
}

/* Responsive text on carousal */
@media (min-width: 300px) {
  .d-md-block {
    display: block!important;
  }
}

@media (max-width: 480px) {
  #slide1 h1 {
    color: transparent
  }
  #slide1 p {
    font-size: 28px;
  }
  #slide2 h1 {
    font-size: 30px;
  }
  #slide2 p {
    font-size: 28px;
  }
  #slide3 h1 {
    font-size: 30px;
  }
  #slide3 p {
    font-size: 28px;
  }
}


.button:hover {
  background-color:#4F0521;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: #E4DFDA;
}

/* VIEW PIN INFO */
.ViewPinInfo {
  text-align: left;
  font-size: 20px; 
  height: 25vh;
  bottom: 25vh;
  z-index: 5000;
  margin: 0, auto;
  position: relative;
  background-color:#deffff;
  animation-name: slide;
  animation-duration: 2s;
}

#viewMap {
  display: block;
}

@keyframes slide {
  0%   {bottom:0vh;}
  100% {bottom:25vh;}
}

/* INPUT FORM  */

.InputPinForm {
  text-align: left;
  font-size: 20px; 
}

#addPage {
  display: block;
}

@keyframes slide {
  0%   {bottom:0vh;}
  100% {bottom:25vh;}
}

/* The element to apply the animation to */
.inputPin {
  height: 25vh;
  bottom: 25vh;
  z-index: 5000;
  margin: 0, auto;
  position: relative;
  background-color:#deffff;
  animation-name: slide;
  animation-duration: 2s;
}

/* ADDBUTTON on /VIEW */

.addButton {
  z-index: 5000;
  position: fixed;
  top: 0;
  right: 0;
  border: 3px solid red;
}
