* {
  box-sizing: border-box;
  border: 0.5px solid transparent;
}

 /* GLOBAL CSS */
 
html, body {
  max-width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #4F0521;
 }


#app .container .add-container #addMap #addPage{
  height: 100vh;
} 

.add-container {
  text-align: center;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* LAUNCH PAGE  */

.launch-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #4F0521;
} 

.launch-page {
  position: relative;
  background-color: #4F0521;
  width: 100%;
  height: 100%;
}

.logo {
  position: absolute;
  display: block;
  margin-top: 2%;
  margin-left: 3%;
  width: 65%;
  background-size: contain;
  z-index: 5000;
}

.about {
  height: 560px;
}

#myCarousel {
  width: fixed;
  height: auto;
  background: #4F0521;
  margin-top: 20%;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0;
}
.carousel-item active {
  z-index: -1;
}

.first-slide {
  width: fixed;
  height: auto;
  z-index: 10;
}

#slide1 {
  margin:0;
  padding: 0;
}

#slide1 h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-align:center;
  font-weight:bold;
  margin:0;
  padding: 0;
}

#slide1 p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align:center;
  margin: 0;
  padding: 2% 0 2% 0;
}

.sf {
  color: rgb(231, 167, 136);
}

.addCarousal {
  z-index: 5000%;
  width: 100%;
}

.viewCarousal {
  z-index: 5000%;
  width: 100%;
}

.areaCarousal {
  z-index: 5000%;
  width: 100%;
}

#slide2 {
  margin:0;
  padding: 0;
}

#slide2 h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(231, 167, 136);
  font-size: 40px;
  text-align:left;
  font-weight:bold;
  margin:0;
  padding: 2% 0 2% 0;
}

#slide2 p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align:left;
  margin: 0;
  padding: 0;
}

#slide3 {
  margin:0;
  padding: 0;
}

#slide3 h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(231, 167, 136);
  font-size: 40px;
  text-align:right;
  font-weight:bold;
  margin:0;
  padding: 2% 0 2% 0;
}

#slide3 p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align:right;
  margin: 0;
  padding: 0;
}

#slide4 {
  margin:0;
  padding: 0;
}

#slide4 h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(231, 167, 136);
  font-size: 40px;
  text-align:left;
  font-weight:bold;
  margin:0;
  padding: 2% 0 2% 0;
}

#slide4 p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align:left;
  margin: 0;
  padding: 0;
}

#slide5 {
  margin:0;
  padding: 0;
}

#slide5 h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(231, 167, 136);
  font-size: 40px;
  text-align:right;
  font-weight:bold;
  margin:0;
  padding: 2% 0 2% 0;
}

#slide5 p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align:right;
  margin: 0;
  padding: 0;
}

.launch-page ul {
  width: 100%
}

/* Responsive text on carousal */

@media (min-width: 300px) {
.launch-page .d-md-block {
    display: block!important;
    }
}

@media (max-width: 480px) {
.launch-page #slide1 h1 {
    color: transparent
  }
.launch-page #slide1 p {
    font-size: 25px;
  }
.launch-page #slide2 h1 {
    font-size: 28px;
  }
.launch-page #slide2 p {
    font-size: 25px;
  }
.launch-page #slide3 h1 {
    font-size: 28px;
  }
.launch-page  #slide3 p {
    font-size: 25px;
  }
  .launch-page #slide4 h1 {
    font-size: 28px;
  }
.launch-page #slide4 p {
    font-size: 25px;
  }
  .launch-page #slide5 h1 {
    font-size: 28px;
  }
.launch-page #slide5 p {
  font-size: 28px;
}
}

/* VIEW PIN INFO */

.ViewPinInfo {
  text-align: left;
  font-size: 20px; 
  height: 25vh;
  bottom: 25vh;
  z-index: 5000;
  margin: 0, auto;
}

/* FILTER BY EMOTION */

.ViewFilterEmotion {
  float: right;
  width: 250px;
  height: 50px;
  padding: 1% 2% 1% 0;
  margin: 2% 18% 0 0;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  z-index: 5000;
}

.ViewFilterEmotion label {
  float:right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #ad9191;
}

.ViewFilterEmotion select {
  font-family: Arial, Helvetica, sans-serif;
  float:right;
  font-size: 20px;
  margin: 0 0 0 0;
  background-color: #ad9191;
  color: rgb(71, 4, 30);
}

.leaflet-popup-content-wrapper {
  text-align: center;
} 

.emo {
  color: #ad9191;
}

/* NAV BAR */

img.nav-icon {
  height: 5rem;
  border: 2px solid #AD9191;
margin-top: 0.5rem;
margin-bottom: 0.75rem;
}

.navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 6000;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  text-align: center;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

ul {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  display: inline-block;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  overflow: hidden;
  background-color: #4F0521;
  filter: alpha(opacity=80);
  opacity: 0.8;
}

li {
  float: left; 
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;
}

li a:hover {
  background-color: #ad9191;
}
a:focus, a:hover {
  color: #D37D52;
  font-weight: bold;
  text-decoration: none;
}

.leaflet-bar a {
  background-color: #4F0521;

}

#home-icon {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

#areas-icon {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
/* VIEW PIN MAP */

#viewPins {
  height: 100vh; 
  width: 100vw;
  position: relative;
  overflow: auto;
}

.viewMap  {
  height: 100vh; 
  width: 100vw;
  position: relative;
  overflow: auto;
}

.addMap {
  height: 100vh; 
  width: 100vw;
  position: relative;
  overflow: auto;
}

.leaflet-container { 
  height: 100vh; 
  width: 100vw;
  text-align: center;
  position: relative;
  overflow: auto;
}

.leaflet-popup-content-wrapper {
  text-align: center;
}

.col-md-12 {
  background-color: transparent;
  border: transparent;
}
/* ADD PAGE FORM */

input {
  width: 100%;
}

.InputPinForm {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 20px; 
}

#addPage {
  display: block;
}

.inputPin select {
  color: #4F0521;
  border: 2px solid #AD9191;
  margin-left: 1rem;
}

.inputPin button {
  color: #4F0521;
  border: 2px solid #AD9191;
  margin-top: 1rem;
}

.inputPin h3 {
  color: #AD9191;
  margin-top: 0;
  margin-bottom: 1rem;
  border-bottom:5px solid #AD9191;
}

.inputPin label {
  text-align: right;
  clear: both;
  float:left;
  margin-right:15px;
  color: #AD9191;
  margin: 0;
}

.inputPin {
  position: absolute;
  padding: 1rem;
  font-size: 20px; 
  text-align: left;
  height: 50vh;
  bottom: 26vh;
  width: 100%;
  z-index: 5000;
  border-radius: 15px;
  background-color:#4F0521;
  overflow: hidden;
  filter: alpha(opacity=80);
  opacity: 0.8;
  animation-name: slide;
  animation-duration: 2s;
}

@keyframes slide {
  0%   {bottom:0vh;}
  100% {bottom:26vh;}
}

/* VIEW PIN INFO */

.ViewPinInfo {
  position: absolute;
  display: inline-block;
  width: 80%;
  height: 40vh;
  bottom: 26vh;
  padding: 1rem;
  margin: 2rem;
  text-align: left;
  font-size: 20px; 
  border-radius: 15px;
  background-color:#4F0521;
  animation-name: slide;
  animation-duration: 4s;
  overflow: hidden;
  filter: alpha(opacity=80);
  opacity: 0.8;
  z-index: 5000;
  overflow: scroll
}

.ViewPinInfo h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #E4DFDA;
  margin: 0;
  margin-bottom: 1rem;
  border-bottom:5px solid #E4DFDA;
  width: 80%;
  float: right;
}
.ViewPinInfo p {
  color: #AD9191;
  margin: 0;
}

.commentsView {
  width: 100%;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(221, 196, 196);
  padding: 0 0 0 20%;
  overflow: scroll;
}

.viewEmo {
  margin: 0 0 0 2%;
}
/* AREA PAGE */

.ViewAreaInfo {
  position: absolute;
  display: inline-block;
  width: 80%;
  height: 40vh;
  bottom: 60vh;
  padding: 1rem;
  margin: 2rem;
  text-align: left;
  font-size: 20px; 
  border-radius: 15px;
  position: relative;
  background-color:#4F0521;
  animation-name: slide;
  animation-duration: 2s;
  overflow: hidden;
  filter: alpha(opacity=80);
  opacity: 0.8;
  z-index: 5000;
  overflow: scroll;
}

.pinName {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #E4DFDA;
  margin-bottom: 1rem;
  border-bottom:5px solid #E4DFDA;
  height: auto;
  width: 80%;
  float: right;
}

.comments {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(221, 196, 196);
  padding: 0 0 0 20%;
  overflow: scroll;
}

.leaflet-interactive {
  stroke: #D37D52;
  fill: #D37D52;
  fill-opacity: .4;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 400px) {
  .inputPin {
    position: absolute;
    font-size: 20px; 
    text-align: left;
    height: 40vh;
    bottom: 28vh;
    /* width: 100%; */
    z-index: 5000;
    border-radius: 15px;
    background-color:#4F0521;
    overflow: hidden;
    filter: alpha(opacity=80);
    opacity: 0.8;
    animation-name: slide;
    animation-duration: 2s;
  }

  @keyframes slide {
    0%   {bottom:0vh;}
    100% {bottom:28vh;}
  }

  .ViewPinInfo {
    position: absolute;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 20px; 
    width: 30%;
    text-align: left;
    height: 40vh;
    bottom: 28vh;
    z-index: 5000;
    border-radius: 15px;
    background-color:#4F0521;
    overflow: hidden;
    filter: alpha(opacity=80);
    opacity: 0.8;
    animation-name: slide;
    animation-duration: 2s;
  }
  @keyframes slide {
    0%   {bottom:0vh;}
    100% {bottom:28vh;}
  }
}

@media only screen and (max-width: 320px) {
  img.nav-icon {
  height: 4rem;
  border: 2px solid #AD9191;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
  }
  }


@media only screen and (min-width: 640px) {
  .navbar-brand img {
    width: 18%; 
  }

  .field.has-addons {
    width: 40%;
  }  
}

@media only screen and (min-width: 800px) {
  .container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }  

  .navbarmenu .button {
    width: 6rem;
    height: 3rem;
    font-size: 1rem;
  }

  .companyList {
    text-align: left;
  }

  .companyList ul {
    text-align: left; 
  }

  .companyList h3 {
    margin-left: 1rem;
  }

  .field.has-addons {
    width: 100%;
    margin: auto;
    margin-top: 2rem;
    margin-left: 1rem;
  }

  .about p {
    font-size: 1.6rem;
  }  
}

@media only screen and (min-width: 900px) {
  .navbar-brand img {
    width: 15%; 
  }
}
