* {
  box-sizing: border-box;
  border: 0.5px solid transparent;
}


.map {

  height: 500px;
  width:500px;
}

/* INPUT FORM  */

.InputPinForm {
  text-align: left;
  font-size: 20px; 
}

.test {
  background-color: red;
}