* {
  box-sizing: border-box;
  border: 0.5px solid red;
} 

body {
  padding: 0;
}

#app .container .main-container #addMap #addPage {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100vh;
  margin: 0;
  padding: 0;
}

.main-container {
  height: 100vh;
  width: 100vh;
  margin: 0;
  padding: 0;
}

.jumbotron {
  height: 100vh;
  width: 100vh;
  margin: 0;
  padding: 0;
}

/* INPUT FORM  */

.InputPinForm {
  text-align: left;
  font-size: 20px; 
}

 html body .map {
  height: 100vh;
  width: 100vw;
}



#addPage {
  display: block;
}

@keyframes slide {
  0%   {bottom:0vh;}
  100% {bottom:25vh;}
}

/* The element to apply the animation to */
.inputPin {
  height: 25vh;
  bottom: 25vh;
  z-index: 5000;
  margin: 0, auto;
  position: relative;
  background-color:#deffff;
  animation-name: slide;
  animation-duration: 2s;
}

/* ADDBUTTON on /VIEW */

.addButton {
  z-index: 5000;
  position: fixed;
  top: 0;
  right: 0;
  border: 3px solid red;
}