* {
  box-sizing: border-box;
  border: 0.5px solid red;
}

 html {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
 }

#app {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
 }

 body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
 }

.container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* LAUNCH PAGE  */

.launch-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #4F0521;
} 

img {
position: absolute;
width: 100%;
height: auto;
background-size: contain;
z-index: 5000;
}

.about {
  height: 560px;
}

.launchbuttons {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 40px;
  margin: 5 10 0 0;
  padding: 0;
}

.launchShareButt{
  position: absolute;
  display: inline-block;
  width: 30%;
  height: 100%;
  margin-left: 48%;
  background-color: #C1666B;
  color: #E4DFDA;
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 8px;
  padding: 5px;
}

.launchExploreButt {
  position: absolute;
  display: inline-block;
  text-align: left;
  padding: 0;
  width: 30%;
  margin-left: 5%;
  height: 100%;
  background-color: #C1666B;
  color: #E4DFDA;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 8px;
}

/* NOT WORKING */
.launchExploreButt :hover {
  background-color: #C1666B;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: #E4DFDA;
} 

/* #myCarousel {
  width: 100vh;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100vh;
  margin: 0;
  padding: 0;
}

.carousel-inner {
  width: 100vh;
  height: 100vh;
} 
*/
/* VIEW PIN INFO */
.ViewPinInfo {
  text-align: left;
  font-size: 20px; 
  height: 25vh;
  bottom: 25vh;
  z-index: 5000;
  margin: 0, auto;
  position: relative;
  background-color:#deffff;
  animation-name: slide;
  animation-duration: 2s;
}

#viewMap {
  display: block;
}

@keyframes slide {
  0%   {bottom:0vh;}
  100% {bottom:25vh;}
}

/* INPUT FORM  */

.InputPinForm {
  text-align: left;
  font-size: 20px; 
}

#addPage {
  display: block;
}

@keyframes slide {
  0%   {bottom:0vh;}
  100% {bottom:25vh;}
}

/* The element to apply the animation to */
.inputPin {
  height: 25vh;
  bottom: 25vh;
  z-index: 5000;
  margin: 0, auto;
  position: relative;
  background-color:#deffff;
  animation-name: slide;
  animation-duration: 2s;
}

/* ADDBUTTON on /VIEW */

.addButton {
  z-index: 5000;
  position: fixed;
  top: 0;
  right: 0;
  border: 3px solid red;
}
